.i-focus-container{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	overflow: hidden;
	z-index: 9999;
}

.i-focus:nth-child(1){
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.5);
	border-top: none;
	border-right: none;
	-webkit-animation: scaleOne 4s infinite cubic-bezier(0, 0.47, 1, 1);
	        animation: scaleOne 4s infinite cubic-bezier(0, 0.47, 1, 1);
}

@-webkit-keyframes scaleOne{
	0%{
		-webkit-transform: translate(-50%,-50%) rotate(0deg);
		        transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		width: 200px;
		height: 200px;
		border-color: rgba(255,255,255,0);
		-webkit-transform: translate(-50%,-50%) rotate(360deg);
		        transform: translate(-50%,-50%) rotate(360deg);
	}
}

@keyframes scaleOne{
	0%{
		-webkit-transform: translate(-50%,-50%) rotate(0deg);
		        transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		width: 200px;
		height: 200px;
		border-color: rgba(255,255,255,0);
		-webkit-transform: translate(-50%,-50%) rotate(360deg);
		        transform: translate(-50%,-50%) rotate(360deg);
	}
}

.i-focus:nth-child(2){
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.5);
	border-top: none;
	border-left: none;
	-webkit-animation: scaleTwo 3s infinite cubic-bezier(0, 0.47, 1, 1);
	        animation: scaleTwo 3s infinite cubic-bezier(0, 0.47, 1, 1);
}

@-webkit-keyframes scaleTwo{
	0%{
		-webkit-transform: translate(-50%,-50%) rotate(0deg);
		        transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		width: 200px;
		height: 200px;
		border-color: rgba(255,255,255,0);
		-webkit-transform: translate(-50%,-50%) rotate(180deg);
		        transform: translate(-50%,-50%) rotate(180deg);
	}
}

@keyframes scaleTwo{
	0%{
		-webkit-transform: translate(-50%,-50%) rotate(0deg);
		        transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		width: 200px;
		height: 200px;
		border-color: rgba(255,255,255,0);
		-webkit-transform: translate(-50%,-50%) rotate(180deg);
		        transform: translate(-50%,-50%) rotate(180deg);
	}
}
.i-focus:nth-child(3){
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,0.5);
	border-bottom: none;
	border-top: none;
	border-left: none;
	-webkit-animation: scaleThree 2s infinite cubic-bezier(0, 0.47, 1, 1);
	        animation: scaleThree 2s infinite cubic-bezier(0, 0.47, 1, 1);
}

@-webkit-keyframes scaleThree{
	0%{
		-webkit-transform: translate(-50%,-50%) rotate(0deg);
		        transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		width: 100px;
		height: 100px;
		border-color: rgba(255,255,255,0);
		-webkit-transform: translate(-50%,-50%) rotate(90deg);
		        transform: translate(-50%,-50%) rotate(90deg);
	}
}

@keyframes scaleThree{
	0%{
		-webkit-transform: translate(-50%,-50%) rotate(0deg);
		        transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		width: 100px;
		height: 100px;
		border-color: rgba(255,255,255,0);
		-webkit-transform: translate(-50%,-50%) rotate(90deg);
		        transform: translate(-50%,-50%) rotate(90deg);
	}
}
/*# sourceMappingURL=focus.css.map */
