._iparallax-container{
  position: var(--relative);
  height: var(--100vh);
  overflow: var(--hidden);
}

._iparallax{
  position: var(--absolute);
  top: var(--0);
  right: var(--0);
  bottom: var(--0);
  left: var(--0);
  background-image: url(../../../img/1.jpg);
  background-size: var(--cover);
  background-repeat: var(--no-repeat);
  background-position: var(--center) var(--center);
}
._iparallax:before{
  content: var(--quote);
  position: var(--absolute);
  top: var(--0);
  right: var(--0);
  bottom: var(--0);
  left: var(--0);
  background-color: var(--light-black-middle);
}